<footer class="footer container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="#">Giới thiệu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Yêu cầu thêm trường học</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Điều khoản sử dụng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Liên hệ</a>
    </li>
  </ul>
</footer>